*{
padding: 0;
font-family:'Ubuntu', sans-serif;
font-weight: 100;
}
nav{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: black;
    padding: 20px;
    font-size: 1.3rem;
    position: fixed;
    width: 96vw;
    top: 0px;
}

h1{
  margin-bottom: 15px;
 
}

.item-menu-container{
    width: 30vw;
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: white;
}

.site-body{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}

.content{
margin: 50px;
}

button{
    margin-top: 10px;
    background-color: black;
    color: white;
    padding: 10px;
    width: 140px;
}

img{

    padding-top: 12vh;
    height: 50vw;
    width: 40vw;
}